.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
  color: aqua;
  background-color: aquamarine;
 display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}